version: "3.9"

services:
  app:
    image: app:latest
    # build: .
    ports:
      - "127.0.0.1:8080:5000"
      # - "8080:5000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "aspapp"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s